.col-sm {
    background-color: #6699cc;
    border-radius: 25px;
    margin: 3px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black;
}

.high-temp {
    color: #EF3636;
    margin: 0;
    padding: 0;
}

.low-temp {
    color: #4545EF;
    margin: 0;
    padding: 0;
}

.current-temp {
    margin: 0;
    padding: 0;
    font-size: 65px;
}

.dates {
    margin-top: 10px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.dropdown {
    margin-bottom: 10px;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}