.col-sm {
    background-color: #6699cc;
    border-radius: 25px;
    margin: 3px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.high-temp {
    color: #EF3636;
    margin: 0;
    padding: 0;
}

.low-temp {
    color: #4545EF;
    margin: 0;
    padding: 0;
}

.dates {
    margin-top: 10px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}